* {
    // Predictable styling.
    //margin: 0;
    //padding: 0;
    // Better box model, includes border in width calculations.
    box-sizing: border-box;
    // Flexbox overrides min-width which makes <pre> not overflow properly
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
}


html {
    font-size: 22px;
    line-height: 1.45;
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (max-width: 520px) {
    html {
        font-size: 16px;
    }
}


/*
 * Main body
 */
body {
    @extend %serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

