//$body-font-color: #000;
$body-font-color: #343535;
$body-background-color: #fff;
$body-link-color: #ccc;
//$body-link-hover-color: purple;
$body-link-hover-color: #ffa200;
//$body-link-hover-color: #5dcb79;
//$body-link-hover-color: #343535;
//$body-link-hover-color: #ff6600;
$body-link-visited-color: green;

// Common cryptocurrency colors:
// BCH green        #5DCB79
// BTC orange       #F59332
// ETH light gray   #7e8891
//     darker gray  #343535
// XMR orange       #ff6600
//     gray         #4c4c4c

* {
    // Predictable styling.
    margin: 0;
    padding: 0;
    // Better box model, includes border in width calculations.
    box-sizing: border-box;
    // Flexbox overrides min-width which makes <pre> not overflow properly
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
}


html {
    font-size: 22px;
    line-height: 1.45;
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (max-width: 520px) {
    html {
        font-size: 16px;
    }
}


/*
 * Main body
 */
body {
    @extend %serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: $body-font-color;
    background-color: $body-background-color;

    margin: 1em;
}


p {
    margin-bottom: 1em;
}


/*
 * Headers
 */
h1, h2, h3, h4 {
    @extend %sans-serif;
    line-height: 1;
}
h1 {
    font-size: 1.45rem;
}
h2 {
    font-size: 1.22rem;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}
h3 {
    font-size: 1.1rem;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
h4 {
    font-size: 0.91rem;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

