$fullwidth: 1220px;
$sidenote-float-width: 1280px;

.chapter {
    max-width: 800px;
    //background-color: lightyellow;
    flex: 1 1 auto;
    margin: 0.5rem 1.2rem;
}

%fullwidth {
    width: 100%;
}

@media (min-width: $sidenote-float-width) {
    %fullwidth {
        width: $fullwidth;
    }
}


/*
 * Header
 */
.chapter > header {
    h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 1rem;

        margin-top: 0.4em;
        margin-bottom: 0.8em;
    }
}

.where a {
    text-decoration: none;
    background: none;
    text-shadow: none;
}
.where a:hover {
    text-decoration: underline;
}

.where {
    font-size: 0.8rem;
    @extend %sans-serif;
    margin-bottom: 0.8rem;
    color: $eth-dark-gray;
}
.where .home {
    @extend %sans-serif-c;
}
.where .up {
}
.where .divider {
    font-size: 0.65rem;
    color: $eth-light-gray;
}

/*
 * Headers
 */
.chapter h2 > a:hover {
    color: $body-font-color;
}


/*
 * Lists
 */
$first-list-offset: -1.3rem;
$list-p-margin: 0.6em;

.chapter {
    ul, ol {
        list-style: none;
        margin: 1rem 0 1rem 2em;
        p {
            margin-bottom: $list-p-margin;
        }
    }
    ol {
        counter-reset: foobar;
    }
    ol li, ul li {
        margin-bottom: 0.4em;
        font-size: 95%;
        line-height: 1.35;
    }

    ol > li::before {
        @extend %sans-serif;
        counter-increment: foobar;
        content: counter(foobar);
        color: $body-list-sym-color;
    }
    ul > li::before {
        @extend %sans-serif;
        //content: "⭑";
        //content: "~";
        //content: "≈";
        //content: "→";
        //content: "»";
        //content: "*";
        content: "•";
        //content: "†";
        color: $body-list-sym-color;
    }
    ul > li > p:first-child, ol > li > p:first-child {
        // To avoid li signifier on a line of it's own
        margin-top: $first-list-offset;
    }
    ul > li::before, ol > li::before {
        // Avoid floats here as sidenotes may interfere
        margin-left: -2em;
        padding-right: 1.5em;
    }
}

.chapter > .subnav {
    margin-top: 1.5rem;
    @extend %sans-serif;

    .chapters {
        font-size: 1.1rem;
        font-weight: bold;
    }

    ul {
        list-style: none;
        margin: 0;
    }
    ul > li {
        font-size: 100%;
        margin-left: 0.6rem;
        margin-top: 0.3rem;
    }
    ul > li::before {
        display: none;
    }

    a {
        background: none;
        text-shadow: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .planned {
        color: $planned-chapter-link;
    }
}


/*
 * Horizontal rules
 */
.chapter hr {
    margin: 1em auto;

    border: 0;
    border-bottom: 1px solid $body-hr-color;
}


/*
 * Quotes
 */
blockquote {
    font-size: 95%;
    line-height: 1.4;
    margin: 2em;
}
blockquote > footer {
    font-size: 80%;
    text-align: right;
}
blockquote > footer > cite {
    font-style: italic;
}
blockquote .emphasis {
    font-size: 80%;
}

// Should we shut it down for small text?
//blockquote > footer a:link {
    //text-decoration: underline;
    //background: none;
    //text-shadow: none;
//}

.epigraph {
    margin: 2em 0;

    blockquote {
        font-size: 1rem;
        font-style: italic; // Regular shouldn't be italic?
    }
    blockquote > footer {
        font-style: normal;
    }
}


/*
 * Tables
 */
table {
    @extend %sans-serif-tnum;
    font-size: 0.95rem;
    margin-bottom: 1rem;

    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
th, td {
    text-align: left;
    padding: 0.1em 1.5em 0.1em 0em;
}
// Had tons of trouble centering a table which could also
// overflow on x.
.centered {
    display: flex;
    justify-content: center;
}


/*
 * Notes
 */
body {
    counter-reset: sidenote-counter;
}


/*
 * Code
 */
pre, code {
    font-family: $code-font-family;
    font-size: 0.71rem;
    line-height: 1.45;
}
pre {
    overflow-wrap: normal;
    overflow: auto;

    margin-bottom: 1em;
    padding: 0.4em 0.6em;
}
.sidenote-code {
    font-family: $code-font-family;
    font-size: 0.6rem;
    line-height: 1.4;
    display: inline-block;
    white-space: nowrap;

    overflow-wrap: normal;
    overflow: auto;

    padding: 0.4em 0.6em;
}


/*
 * Misc
 */


/*
 * Side content
 */
.side-space {
    // Serves to take up space. Inline content from the chapter is floated on top.
    width: 420px;
    //background-color: antiquewhite;
    // Avoids swallowing clicks and interactions intended for wider images
    visibility: hidden;
}
.sidenote, .marginnote {
    @extend %sans-serif;
    font-size: 0.8rem;
}

// Ad-hoc paragraph styling
.sidenote .snp:not(:first-child),
.marginnote .snp:not(:first-child) {
    margin-top: 0.8em;
    display: inline-block;
    clear: both;
    width: 100%;
}
// No inline-block for the first in sidenotes to allow ref number
// to live on the same line.
.marginnote .snp {
    clear: both;
    width: 100%;
    display: inline-block;
}

.sidenote img, .marginnote img {
    max-width: 100%;
}

.snp > code {
    overflow-wrap: break-word;
}


.sidenote-number {
    counter-increment: sidenote-counter;
}
.sidenote-number:after {
    content: counter(sidenote-counter);
}
.sidenote:before {
    content: counter(sidenote-counter);
    float: left;
    padding-right: 0.2rem;
    display: inline;
}
.margin-symbol, .sidenote-number:after, .sidenote:before {
    font-family: $sans-serif-font-family;
    vertical-align: super;
    font-size: 0.7em;
    display: inline-block;
    //background-color: tomato;
}

input.margin-toggle {
    display: none;
}
label.sidenote-number {
    display: inline;
}
label.margin-toggle:not(.sidenote-number) {
    display: none;
}

@media (max-width: $sidenote-float-width - 1) {
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }
    .margin-symbol, .sidenote-number:after, .sidenote:before {
    }
    .margin-symbol, .sidenote-number:after {
        font-weight: bold;
        color: $sidenote-clickable-color;
        // Make them a little easier to click on.
        padding: 0 0.25rem 0.3rem 0;
        margin-right: -0.25rem;
        position: relative;
    }
    label.margin-toggle {
        cursor: pointer;
        z-index: 100;
    }
    .margin-symbol:hover, .sidenote-number:hover:after {
        color: $body-link-hover-color;
    }
    // Notes hidden by default
    .sidenote, .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        margin: 1rem;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    .sidenote, .marginnote {
        .snp {
            // Dsiplay as block to not be cut by images.
            display: block;
        }
    }
    .sidenote-code {
        max-width: 101%;
    }
    //.sidenote { background-color: lightblue; }
    //.marginnote { background-color: aqua; }
}
@media (min-width: $sidenote-float-width) {
    .side-space {
        display: block;
    }
    .sidenote, .marginnote {
        float: right;
        clear: right;
        margin-right: -420px;
        margin-bottom: 2rem;
        width: 380px;
        position: relative;
        display: inline-block;
        //background-color: moccasin;
    }
    blockquote .marginnote, blockquote .sidenote {
        margin-right: -462px;
    }
    .sidenote-code {
        max-width: 380px;
    }
    //.sidenote { background-color: pink; }
    //.marginnote { background-color: plum; }
}


/*
 * Donations
 */
.donations {
    margin: 1rem 0;
    margin-left: 0.5rem;
}
.donation-label {
    @extend %sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: $body-font-color;
    cursor: pointer;
    text-decoration: underline;
}
.donation-label:hover {
    color: $body-link-hover-color;
}
.donation-toggle {
    display: none;
}
.donation-content {
    display: none;
}
.donation-toggle:checked + .donation-content {
    display: block;
    text-align: center;
    padding-top: 0.2rem;
}
.donation-content .qr {
    margin-right: 0.5em;
}
.donation-content .address {
    font-family: $hack;
    font-size: 0.8rem;
    word-wrap: break-word;
}


/*
 * Images
 */
a.img-wrapper:link {
    background: none;
    text-shadow: none;
}
a.img-wrapper:hover {
    @include a-background(#333);
}


/*
 * Figures
 */
figure {
    margin-bottom: 1rem;
    text-align: center;

    img {
        max-width: 100%;
    }
    > figcaption {
        @extend %sans-serif;
        font-size: 0.9rem;
    }
}
figure.articlewidth, figure.fullwidth {
    img {
        width: 100%;
    }
}
figcaption.margin {
    @extend %sans-serif;
}

@media (min-width: $sidenote-float-width) {
    figure.fullwidth {
        width: $fullwidth;
    }
    figcaption.margin {
        font-size: 0.8rem;
        float: right;
        clear: right;
        margin-right: -420px;
        margin-bottom: 2rem;
        width: 380px;
        position: relative;
        display: inline-block;
        text-align: left;
    }
    // Override the above in a fullwidth image. Not sure how to avoid this?
    figure.fullwidth > figcaption.margin {
        font-size: 0.9rem;
        float: none;
        margin: 0;
        position: static;
        display: block;
        text-align: center;
        width: 100%;
    }
}

figure .sidenote, figure .marginnote {
    text-align: left;
}


/*
 * Misc
 */
.whitepaper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    a {
        @extend %sans-serif;
        font-size: 1.05rem;
    }
}

.todo {
    @extend %sans-serif;
    font-size: 0.8rem;
    margin: 1rem 1rem;

    .pre {
        font-weight: bold;
    }
    .txt {
    }
}

.story {
    padding-top: 1rem;
    margin: 1.5rem 0;
    border-top: 1px dashed $body-hr-color;
    border-bottom: 1px dashed $body-hr-color;
}

.appendix, .error {
    max-width: 600px;
}

.fullwidth {
    @extend %fullwidth;
}

table.crypto-eval {
    th, td {
        padding: 0.1em 1.0em 0.1em 0.5em;
    }
    td {
        text-align: left;
    }
    td.ths {
        font-weight: bold;
        text-align: center;
    }
    td.tds {
        font-weight: bold;
    }
    td.poor {
        background-color: $xmr-orange;
        text-align: center;
    }
    td.good {
        background-color: #5db0cc;
        text-align: center;
    }
    td.excellent {
        background-color: $bch-green;
        text-align: center;
    }
}

.sans {
    @extend %sans-serif;
}
.sans-tnum {
    @extend %sans-serif-tnum;
}

.chapter .subscribe {
    max-width: 25em;
}

.money-examples .example {
    width: 100%;
    margin-bottom: 1em;
    display: flex;

    .txt {
        margin: 0 0.5em;
    }

    img {
        flex-shrink: 0;
        align-self: center;
        max-width: 10em;
        margin-bottom: 1em;
    }
    h3 {
        margin-top: 0;
    }
    .header {
        font-size: 1.1rem;
        @extend %sans-serif;
        line-height: 1;
        display: flex;
    }
    .date {
        margin-left: 0.5rem;
    }
}

.wikileaks {
    padding-top: 1em;
    margin-bottom: 1em;
    //margin: 1.5em 0;
    border-top: 1px dashed $body-hr-color;
    border-bottom: 1px dashed $body-hr-color;
}

.wikileaks .entry {
    width: 100%;
    margin-bottom: 1em;

    h3 {
        margin-top: 0;
    }
    > .header {
        font-size: 1.1rem;
        @extend %sans-serif;
        line-height: 1;
        display: flex;
        flex-wrap: wrap;
        //margin-bottom: 0.3rem;
    }
    > .header > h3 {
        margin-right: 0.5rem;
        margin-bottom: 0.3rem;
    }
    > .header > .date {
        margin-bottom: 0.3rem;
    }

    .caution {
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        margin-left: 1em;
        font-size: 90%;
    }
}

.wikileaks li.leak {
    margin-bottom: 2em;

    > .title {
        margin-top: $first-list-offset;
        margin-bottom: $list-p-margin;
        font-weight: bold;
    }

    .transcript {
        margin: 1rem 0;
        padding-left: 1rem;
        font-size: 95%;
        line-height: 1.4;
        border-left: 1px solid $body-hr-color;
    }
}

.wikileaks .transcript-wrapper {
    margin: 1.5em 0;
    border-top: 1px dashed $body-hr-color;
    border-bottom: 1px dashed $body-hr-color;
}


.wikileaks .transcript > .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    > .time {
        margin-right: 1.5rem;
        flex: none;
    }
    > .txt {

    }
}

h3.economic-problem > a {
    color: $body-font-color;
}


@media only screen and (min-width: 521px) {
    .money-examples .example:nth-child(even) {
        justify-content: space-between;
        img {
            order: 9;
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 520px) {
    .money-examples .example {
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;

        .txt {
            width: 100%;
            order: 1;
        }
        img {
            order: 0;
        }
    }
}
ul > li.plus:before {
    font-family: $code-font-family;
    content: "+";
}
ul > li.neg:before {
    font-family: $code-font-family;
    content: "-";
}

.qt-tab {
    padding-left: 1.2rem;
}

/*
 * Pretty video embedding
 */
.video-wrapper {
    //@extend %media-offset-wrapper;
    //margin: 1em 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table.address-message {
    font-family: $code-font-family;
    font-size: 0.71rem;
    line-height: 1.45;
    //font-style: italic;
    .msg-char {
        padding: 0 0.2em;
        font-weight: bold;
    }
}


/*
 * Legacy HN
 */
.hn {
    font-size: 0.8rem;
    font-family: Verdana;
    color: #828282;
    background-color: #f6f6ef;
    margin: 1rem;
    overflow-x: hidden;
    white-space: nowrap;

    a:link {
        text-shadow: none;
        background: none;
        color: #000;
    }
    a:visited {
        color:#828282;
    }
}
.hn table {
    font-size: 0.8rem;
    font-family: Verdana;
    padding: 0 0 0.2rem 0.4rem;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;

    th, td {
        margin: 0;
        padding: 0;
    }
    .title {
        font-size: 1em;
    }
    .comhead {
        font-size: 0.8em;
    }
    .subtext {
        font-size: 0.7em;
    }
    .comhead a:link, .subtext a:link, .subtext a:visited {
        color:#828282;
    }
    .subtext a:hover, .comhead a:hover {
        text-decoration: underline;
    }
    .arrow {
        font-size: 0.65em;
        color: #b3b3b3;
        margin-left: 0.4em;
        margin-right: 0.3em;
        position: relative;
        top: -0.12em;
        cursor: pointer;
    }
}

.hn .header {
    font-size: 0.8rem;
    font-family: Verdana;
    background-color: #ff6600;
    margin: 0;
    padding: 0;
    margin-bottom: 0.4rem;
    height: 1.3rem;
    text-align: left;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a img {
        border: 1px #fff solid;
        max-width: 20px;
        max-height: 20px;
        margin: 0 0.2rem;
    }
    .pagetop {
        font-size: 1em;
        color:#222222;
    }
    .pagetop a:visited {
        color:#000000;
    }
    .hn-title {
        font-weight: bold;
        margin-right: 0.8em;
    }
}

.fractional-table-ex {
    @extend %sans-serif-tnum;
    font-size: 0.95rem;
    margin: 1em 0 1.2em 0;

    .row {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .header {
        font-weight: bold;
    }
    .cell {
        width: 5em;
        text-align: center;
        margin-right: 1.5em;
    }
}

