// Common cryptocurrency colors:
$bch-green: #5DCB79;
$bch-green2: #478559;
$btc-orange: #F59332;
$eth-light-gray: #7e8891;
$eth-dark-gray: #343535;
$xmr-orange: #ff6600;
$xmr-gray: #4c4c4c;

// Used colors
$body-font-color: $eth-dark-gray;
$body-font-color2: #4c4d4d;
$body-background-color: #fcfcfc;
$body-link-hover-color: $btc-orange;
$body-xref-hover-color: $bch-green2;
$body-invalid-iref-hover-color: #db1800;
$body-selection-color: #b4d5fe;
$body-list-sym-color: $xmr-gray;
$body-hr-color: $xmr-gray;
$sidenote-clickable-color: #6087dd;
$email-invalid-color: #b1240c;
$planned-chapter-link: #aaacaf;

// In graphs:
// http://ksrowell.com/blog-visualizing-data/2012/02/02/optimal-colors-for-graphs/

// Colors for lines and points:
// #396AB1
// #DA7C30
// #3E9651
// #CC2529
// #535154
// #6B4C9A
// #922428
// #948B3D

// Colors for bars
// #7293CB
// #E1974C
// #84BA5B
// #D35E60
// #808585
// #9067A7
// #AB6857
// #CCC210

$excellent: #ccebc5;
$good: #b3cde3;
$poor: #fbb4ae;

// $legal-moral: #b3e2cd;
// $illegal-immoral: #fdcdac;
// $illegal-moral: #cbd5e8;
// $legal-immoral: #f4cae4;
// These have better green/reds
$illegal-immoral: #fbb4ae;
$illegal-moral: #b3cde3;
$legal-moral: #ccebc5;
$legal-immoral: #decbe4;
// https://colorbrewer2.org/#type=qualitative&scheme=Pastel1&n=6

