// Common cryptocurrency colors:
$bch-green: #5DCB79;
$bch-green2: #478559;
$btc-orange: #F59332;
$eth-light-gray: #7e8891;
$eth-dark-gray: #343535;
$xmr-orange: #ff6600;
$xmr-gray: #4c4c4c;

// Used colors
$body-font-color: $eth-dark-gray;
$body-background-color: #fcfcfc;
//$body-link-hover-color: $btc-orange;
//$body-xref-hover-color: $xmr-orange;
$body-link-hover-color: $btc-orange;
$body-xref-hover-color: $bch-green2;
$body-selection-color: #b4d5fe;
$body-list-sym-color: $xmr-gray;
$body-hr-color: $xmr-gray;
$sidenote-clickable-color: #6087dd;
$email-invalid-color: #b1240c;
