/*
 * Quotes
 */
blockquote {
    //width: 100%;
    font-style: italic; // Regular shouldn't be italic?
    //font-size: 95%;
    line-height: 1.4;
    margin: 2em 2em;
}

.epigraph {
    margin: 2em 0;
}


/*
 * Tables
 */
table {
    @extend %sans-serif;
    //@extend %serif;
    // Need tabular numbers to align properly
    font-feature-settings: 'kern' on, 'tnum' on;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}
th, td {
    text-align: left;
    padding: 0.1em 1.5em 0.1em 0em;
}
table.centered {
    margin: 0 auto;
    margin-bottom: 1rem;
}


/*
 * Notes
 */
body {
    counter-reset: sidenote-counter;
}

