$century-supra: 'Century Supra';
@font-face {
    font-family: $century-supra;
    src: url('fonts/century_supra_t4_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: $century-supra;
    src: url('fonts/century_supra_t4_italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: $century-supra;
    src: url('fonts/century_supra_t4_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: $century-supra;
    src: url('fonts/century_supra_t4_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}

$concourse: 'Concourse';
@font-face {
    font-family: $concourse;
    src: url('fonts/concourse_t4_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: $concourse;
    src: url('fonts/concourse_t4_italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: $concourse;
    src: url('fonts/concourse_t4_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: $concourse;
    src: url('fonts/concourse_t4_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}

$concourse-c: 'Concourse Caps';
@font-face {
    font-family: $concourse-c;
    src: url('fonts/concourse_c4_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: $concourse-c;
    src: url('fonts/concourse_c4_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

$triplicate: 'Triplicate';
@font-face {
    font-family: $triplicate;
    src: url('/fonts/triplicate_t4_code_regular.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: $triplicate;
    src: url('/fonts/triplicate_t4_code_italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: $triplicate;
    src: url('/fonts/triplicate_t4_code_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: $triplicate;
    src: url('/fonts/triplicate_t4_code_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}


$serif-font-family: $century-supra, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$sans-serif-font-family: $concourse, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-c-font-family: $concourse-c, $sans-serif-font-family;
$code-font-family: $triplicate, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


%sans-serif {
    text-rendering: optimizeLegibility;
    font-family: $sans-serif-font-family;
    font-feature-settings: "onum" off, "kern" on;
}
%sans-serif-tnum {
    text-rendering: optimizeLegibility;
    @extend %sans-serif;
    font-feature-settings: 'kern' on, 'tnum' on;
}
%sans-serif-c {
    text-rendering: optimizeLegibility;
    font-family: $sans-serif-c-font-family;
    font-feature-settings: "onum" off, "kern" on;
}

%serif {
    text-rendering: optimizeLegibility;
    font-family: $serif-font-family;
    font-feature-settings: "kern" on;
}


