* {
    // Predictable styling.
    margin: 0;
    padding: 0;
    // Better box model, includes border in width calculations.
    box-sizing: border-box;
    // Flexbox overrides min-width which makes <pre> not overflow properly
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
}



html {
    font-size: 22px;
    line-height: 1.45;
    text-align: left;
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (max-width: 520px) {
    html {
        font-size: 16px;
    }
}


/*
 * Main body
 */
body {
    @extend %serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: $body-font-color;
    background-color: $body-background-color;
}


/*
div, span, p, ul, li, a {
    font-size: 1rem;
}
*/


p {
    margin: 0;
    margin-bottom: 1em;
}


/*
 * Headers
 */
h1, h2, h3, h4 {
    @extend %sans-serif;
    line-height: 1;
    text-align: left !important;

    adobe-hyphenate: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -epub-hyphens: none;
    hyphens: none;
}
h1 {
    font-size: 1.45rem;
}
h2 {
    font-size: 1.22rem;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}
h3 {
    font-size: 1.1rem;
    margin-top: 1em;
    margin-bottom: 0.3em;
}
h4 {
    font-size: 0.91rem;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

a:link {
    text-decoration: underline;
}
/*
a:link.xref {
    text-decoration: underline dashed;
}
*/

a:link::selection, a:link::-moz-selection {
    text-decoration: none;
    background: $body-selection-color;
}

a:link, a:visited {
    color: inherit;
}
a:hover {
    background: none;
    color: $body-link-hover-color;
}
a:hover.xref {
    color: $body-xref-hover-color;
}
a:hover.invalid-iref {
    color: $body-invalid-iref-hover-color;
}


/*
 * Selection
 */
::selection {
  background: $body-selection-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $body-selection-color; /* Gecko Browsers */
}



/*
 * Follow
 */
.follow {
    @extend %sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.follow > .links {
    margin: 0.3rem;
    font-size: 0.8rem;
}
.follow > .wip {
    margin: 0.3rem;
    font-size: 0.8rem;
}
.follow > .donate {
    margin: 0.3rem;
    font-size: 0.8rem;
}
.subscribe > .email, .subscribe > .submit {
    @extend %serif;
    font-size: 0.75rem;
    border: 1px solid #ddd;
    background: $body-background-color;
    padding: 0.5em;
}

.subscribe > .email:hover,
.subscribe > .submit:hover {
    border: 1px solid #aaa;
    color: $body-font-color;
}
.subscribe > .email:invalid {
    color: $email-invalid-color;
}
.subscribe > .submit:hover {
    color: $body-xref-hover-color;
    cursor: pointer;
}
.subscribe {
    display: flex;
}
.subscribe > .email {
    flex: 4;
    margin-right: 0.2rem;
}
.subscribe > .submit {
    flex: 1;
}


/*
 * Footer
 */
body > footer {
    @extend %sans-serif;

    width: 100%;
    height: 3em;
    margin-top: 1em;

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.95rem;

        a:link {
            text-decoration: none;
            background: none;
            text-shadow: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .follow-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
    }
    .follow-wrapper > .follow {
        margin-top: 0;
    }

    .prev, .parent, .home, .next {
        margin: 0 0.3em;
    }
    .prev {
        order: 1;
    }
    .next {
        order: 2;
    }
    .middle {
        order: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 800px) {
    body > footer {
        .prev, .parent, .home, .next {
            margin: 0 0.6em;
        }
        .prev {
            order: 0;
        }
        .middle {
            order: 1;
            width: auto;
        }
        .next {
            order: 2;
        }
    }
}
