.homepage {
    max-width: 600px;
    margin: 0.5rem 1.2rem;
}

.homepage > header {
    margin-bottom: 1em;
    padding-bottom: 0.3em;
    border-bottom: 0.2em solid;

    h1 {
        @extend %sans-serif-c;
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }
    h2 {
        @extend %sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        margin-left: 0.3rem;
        margin-bottom: 0.2rem;
    }
}

.toc section:not(:first-child) {
    padding-top: 1.2rem;
}

.toc {
    @extend %sans-serif;
    a {
        text-decoration: none;
        background: none;
        text-shadow: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.toc h1 {
    font-size: 1.1rem;
}
.toc ul {
    margin-top: 0.5rem;
    list-style: none;

    li {
        margin-left: 0.6rem;
        margin-top: 0.3rem;
    }
}
.toc .planned {
    color: $planned-chapter-link;
}
